@import '@/styles/vars';

.cardContainer {
	flex: 0 0 33%;
	padding: 0 10px;

	.card {
		margin-bottom: 20px;

		.questionAmount {
			margin-left: 3px;
		}

		.passesAmount {
			display: flex;
			align-items: center;

			.personIcon {
				margin-right: 5px;
			}
		}
	}
}
